.copyright-radioselector {
  height: 10em;
  overflow: auto;
}
.copyright-image img {
  display: inline; 
  clear: both;
}
.copyright-image {
  text-align: center;
}
.block-copyright .content {
  text-align: center;
}
#footer .block-copyright {
  color: gray;
  background: transparent;
  padding: 0.5em;
  margin: 0;
  border: none;
}
#footer .block-copyright h2 {
  display: none;
}
